*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100vh;
}

body {
    background-color: #171a1d;
}



header {
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1454496522488-7a8e488e8606');
    background-position: center;
    background-size: cover;

    font-family: 'Bebas Neue', 'impact', cursive;
    font-weight: bolder;
    color: #443A2D;
    h1 {font-size: 10rem;}
}

a {
    color: #443A2D;
    border: 5px solid #443A2D;
    padding: 0.5rem 10rem;
    font-size: 3rem;
    text-decoration: none;

    &:hover {
        background-color: white;

    }
}



.middle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}